// Para el inicio de todo
$padd-inicio: 0px;
$marg-inicio: 0px;
$box-inicio: border-box;

// para el footer
$texa-footer: center;
$matp-footer: 50%;

// Para los li del footer
$dis-footer: inline-block;
$col-footer: whitesmoke;




